@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-size: 4rem;
    margin: 0;
    font-weight: normal;
    margin-bottom: 1rem;
}

.row{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    padding: 1rem;
    position: relative;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}

span {
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    margin: 0;
}

.flag {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}